{% load plazz_extras %}

<!-- Initial Page, "data-name" contains page name -->
<div data-name="filters" class="page">
    <!-- Fixed/Dynamic Navbar -->
    <div class="navbar no-hairline no-shadow">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="right">
                <a href="#" class="link" id="next">Volgende</a>
            </div>
        </div>
    </div>

    <div class="page-content login-screen-content">
        <div class="login-screen-title">Filters</div>
        <div class="block">
            <p>Vul hier uw eisen voor de potentiële locatie van het Pop-up restaurant in.</p>
        </div>
        <form action="/results/" method="POST" class="form-ajax-submit">
            {% csrf_token %}

            {% for field in form_fields %}
                {% if field.fieldtype.type == "range-dual" %}
                    <div class="list simple-list">
                        <div class="block-title display-flex justify-content-space-between">{{ field.label|upper }} <span class="price-value">0 - 2000</span></div>
                        <ul>
                            <li class="item-row">
                                <div class="item-cell width-auto flex-shrink-0"></div>
                                <div class="item-cell item-cell-shrink-3">
                                    <input type="hidden" name="{{ field.label|slugify }}-min" class="min-value" value="">
                                    <input type="hidden" name="{{ field.label|slugify }}-max" class="max-value" value="">
                                    <div
                                            class="range-slider range-slider-init color-green"
                                            data-dual="true"
                                            data-label="true"
                                            {% if field.max %}data-max="{{ field.max }}"
                                            data-min="0"
                                            data-step="1"{% endif %}
                                            data-value-left="0"
                                            data-value-right="2000"
                                            id="price-filter"
                                    ></div>
                                </div>
                                <div class="item-cell width-auto flex-shrink-0"></div>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                {% if field.fieldtype.type == "range" %}
                    <div class="list simple-list">
                        <div class="block-title display-flex justify-content-space-between">{{ field.label|upper }}</div>
                      <ul>
                        <li>
                          <div class="item-cell width-auto flex-shrink-0"></div>
                          <div class="item-cell flex-shrink-3">
                            <div class="range-slider range-slider-init color-orange" data-label="true">
                              <input type="range" min="0" {% if field.max %}max="{{ field.max }}"{% endif %} step="1" value="50" name="{{ field.label|form_friendly }}">
                            </div>
                          </div>
                          <div class="item-cell width-auto flex-shrink-0"></div>
                        </li>
                      </ul>
                    </div>
                {% endif %}

                {% if field.fieldtype.type == "select" %}
                    <div class="list inline-labels no-hairlines-md">
                      <ul>
                        <li class="item-content item-input">
                          <div class="item-inner">
                            <div class="item-title item-label">{{ field.label }}</div>
                            <div class="item-input-wrap input-dropdown-wrap">
                              <select name="{{ field.label|form_friendly }}">
                                  {% for item in form_options %}
                                      {% if field.id == item.formfield_id %}
                                          <option value="{{ item.value }}" {% if item.selected %}selected{% endif %}>{{ item.value }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>
