{% extends "partials/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{#    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">#}
{% endblock %}

{% block headincludes %}
    <style>
        .login-screen-content .list ul:after {
            display: block !important;
        }
        .login-screen-content .list ul:before {
            display: block !important;
        }
        .login-screen-content .list.single-item ul:before {
            display: none !important;
        }
        .list.links-list a {
            font-weight: 600;
        }
    .ios .login-screen-title {
    font-weight: 200;
}
    </style>
{% endblock %}

{% block body_id %}template-home{% endblock %}

{% block content %}
    <div data-name="home" class="page">
                <!-- Navbar -->
                <div class="navbar no-hairline no-shadow"></div>

                <!-- Scrollable page content -->
                <div class="page-content login-screen-content">
                    <div class="login-screen-title">Plaats</div>
                    {% for field in form %}
                        {% if forloop.first %}
                            <div class="list links-list single-item" style="margin-bottom: 85px;">
                                <ul>
                                    <li><a href="/filters/{{ field.value }}">{{ field.value }}</a></li>
                                </ul>
                            </div>

                            <div class="list links-list">
                            <div class="block-title">MEER PLAATSEN</div>
                                <ul>
                        {% endif %}

                        {% if not forloop.first %}
                                    <li><a href="/filters/{{ field.value }}">{{ field.value }}</a></li>
                        {% endif %}
                    {% endfor %}
                                </ul>
                            </div>

                    <div class="block block-strong no-hairlines text-align-center">
                        <span><b>Welke plaats moet ik kiezen?</b></span>
                        <p>Dit is de plaats waarin de meest geschikte locatie voor het Pop-up restaurant zal worden bepaald.</p>
                    </div>
                </div>
            </div>
{% endblock %}
